*.png
*.eps
*.aux
*.log
*.p
*.txt
*.pkl
*.pt
*.cls
__pycache__
*.synctex.gz
*.npy
*.jpg
*.npz
*.mat
*.gz
*.tiff
*.csv
*.asc
*.mxe
*.bat
*.info
*.jar
*.DS_store
*.html
*.lambdas
*.doc
*.sh
*.nii
*.tar
*.raw
*.mhd
.vscode
checkpoints
data
exp
output
pc
.vscode
*.pth
*.whl
shapenet
shapenet_norm
IntrA
modelnet40_normal_resampled
point_transformer_lib
Pointcept