datasets
*.png
*.eps
*.aux
*.log
*.p
*.txt
*.pkl
*.pt
*.cls
__pycache__
*.synctex.gz
*.npy
*.jpg
*.npz
*.mat
*.gz
*.tiff
*.csv
*.asc
*.mxe
*.bat
*.info
*.jar
*.DS_store
*.html
*.lambdas
*.doc
*.sh
*.nii
*.tar
*.raw
*.mhd
.vscode
IntrA3D
checkpoints
data
exp
output
pc
.vscode
venv
*.pth
*.whl
shapenetcore_partanno_segmentation_benchmark_v0_normal
modelnet40_normal_resampled